.Rproj.user
.Rhistory
.RData
.Ruserdata
renv
.Rapp.history
# don't commit drafts
drafts 
data-raw/cost_data_not_public
paper/cover_letter_initial
data-raw/Resultat*
data-raw/tad_photos
paper/*.zip
paper/drafts
paper/logo*.pdf
paper/*.log